{% extends 'base.html' %}
{% load static %}

{% block title %}
    Scouting Result
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center p-3" style="width: 60%;">
        <!-- left col-->
        <div class="d-flex flex-column w-50 align-items-center justify-content-evenly" style="padding-right: 10px;">
            <form class="p-3 w-100">
                <h4 class="text-center" style="color:#1374F2; padding-bottom: 40px;">Metrics Weights</h4>
                <div class="d-flex justify-content-between">
                    <div class="card me-2" style="flex: 1; background-color: #ffebcd; border: none;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Experience</h5>
                            <input class="form-control" type="text" placeholder="1" readonly style="text-align: center;">
                        </div>
                    </div>
                    <div class="card me-2" style="flex: 1; background-color: #f5f5dc; border: none;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Relevance</h5>
                            <input class="form-control" type="text" placeholder="2" readonly style="text-align: center;">
                        </div>
                    </div>
                    <div class="card me-2" style="flex: 1; background-color: #e6e6fa; border: none;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Education</h5>
                            <input class="form-control" type="text" placeholder="3" readonly style="text-align: center;">
                        </div>
                    </div>
                    <div class="card me-2" style="flex: 1; background-color: #ffe4e1; border: none;">
                        <div class="card-body text-center">
                            <h5 class="card-title">Skills</h5>
                            <input class="form-control" type="text" placeholder="4" readonly style="text-align: center;">
                        </div>
                    </div>
                </div>
            </form>

            <form class="p-3 w-100">
                <h4 class="text-center" style="color:#1374F2; padding-bottom: 40px;">Fitness Score</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">File Name</th>
                                <th scope="col">Experience</th>
                                <th scope="col">Relevance</th>
                                <th scope="col">Education</th>
                                <th scope="col">Skills</th>
                                <th scope="col">Overall</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="text-center">
                <button class="btn btn-primary" type="submit" id="home-button">Home</button>
            </div>
        </div>

        <!-- right col-->
        <div class="d-flex w-50" style="align-items-center; justify-content-evenly;">
            <div class="position-relative w-100">
                <div class="chat-messages p-4" id="chat-box"></div>

                <!-- User Input -->
                <div class="flex-grow-0 py-3 px-4 border-top">
                    <div class="input-group">
                        <input type="text" id="user-input" class="form-control" placeholder="Type your message">
                        <button class="btn btn-primary" type="submit" id="send-button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
        const avatarImageUrl = "{% static 'image/Scout Mates.png' %}";
        window.avatarImageUrl = avatarImageUrl;
    </script>

{% endblock %}