{% extends 'base.html' %}

{% block title %}
    Scouting Result
{% endblock %}

{% block content %}
    <div>
        <div>
            <!-- add weights and home button-->
             <div>
                <!-- add weights display div -->
                <div>

                </div>

                <button class="btn btn-outline-primary" type="submit">Back to Home</button>

             </div>

            <!-- add table and delete button-->
            <div>
                <!-- add table -->

                
                <button class="btn btn-sm btn-danger" type="submit"> Delete </button> 
            </div>


        </div>
        
        <!-- add chat -->
        <div>

        </div>
        
    </div>

    

{% endblock %}